.help_text_color {
  color: #7f8c8d;
}

.app-title-color {
  background: linear-gradient(135deg, #bdc3c8, #2980b9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fw-bold {
  font-weight: bold;
}
