.ui.segment {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: none !important;
}

.file-input-bg {
  background: #efefef !important;
}

.textarea-resize > textarea {
  min-height: 75px !important;
  resize: none !important;
}
