.admin-layout {
  width: 100%;
  display: grid;
  grid: 53px / 1fr;
  grid-template-areas:
    "menu"
    "content";
  min-height: 100vh;

  &__menu {
    grid-area: menu;
  }

  &__main-content {
    grid-area: content;
    transition: margin-left 0.3s ease;
    &.pushed {
      margin-left: 17rem;
    }

    @media screen and (max-width: 990px) {
      &.pushed {
        margin-left: 0;
      }
    }
  }
}
