/* ====== Main tag styles ====== */
.main {
  width: 100%;
  min-height: calc(100vh - 112.94px);
  background: linear-gradient(to right, #d7e1ec 0%, #ffffff 100%);
  background: linear-gradient(60deg, #d7e1ec 0%, #ffffff 100%);
  padding-bottom: 1rem;
}
